<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStuffFilesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1852/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStuffFilesService"
                contract="StuffFilesServiceReference.IStuffFilesService" name="BasicHttpBinding_IStuffFilesService" />
        </client>
    </system.serviceModel>
</configuration>